@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added below */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #root{
  min-height: 100vh;
  display: flex;
} */


